<div class="p-grid p-justify-center card">
  <div class="p-col-10 p-sm-6 p-md-4">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12 text-center">
          <img src="../../../assets/icontrans.png" width="200">
          <h2>LOGIN</h2>
        </div>
        <div class="p-col-12">
          <label for="">Usuário:</label>
          <input class="p-col-12" type="text" pInputText />
        </div>
        <div class="p-col-12">
          <label for="">Senha:</label>
          <input class="p-col-12" type="text" pInputText />
        </div>
        <div class="p-col-12">
          <button
            pButton
            type="button"
            label="Entrar"
            class="p-col-12"
          ></button>

          <p class="mt-3">
            <a routerLink="/cadastro">Faça seu Cadastro</a>
          </p>
          
          
        </div>
      </div>
    </p-card>
  </div>
</div>

