
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<app-navbar> </app-navbar>


<div class="banner">
 <img src="../../../../assets/logoseis.png" width="300">

 <div class="status">
   <h2>CADASTRO DO CLIENTE </h2>
  <div class="p-col-12">
    <input class="p-col-12" type="text" pInputText placeholder="Nome completo"/>
  </div>
  <div class="p-col-12">
    <label for=""></label>
    <input class="p-col-12" type="text"  pInputText placeholder="E-mail"/>
  </div>
  <div class="p-col-12">
    <label for=""></label>
    <input class="p-col-12" type="text"  pInputText placeholder="CPF" />
  </div>
  <div class="p-col-12">
    <label for=""></label>
    <input class="p-col-12" type="text"  pInputText placeholder="Telofne"/>
  </div>
  <div class="p-col-12">
    <label for=""></label>
    <input class="p-col-12" type="text"  pInputText placeholder="Cidade"/>
  </div>
  <div class="p-col-12">
    <label for=""></label>
    <input class="p-col-12" type="text"  pInputText placeholder="CEP"/>
  </div>
  <button
            pButton
            type="button"
            label="Confirmar"
            class="p-col-4"
          ></button>
</div>
