body{
  background-image: url(../../../../assets/pexels-norma-mortenson-4393523.jpg);
  width: 10%;
  padding: 24.2% 20%;
  background-position: center top;
  background-size: cover;
  opacity: 0.95;
}

.status{
  left: 56%;
  top: 25%;
  position: absolute;
  text-decoration: none;
  background-color: #D0E1F5;
  padding: 3% 3%;
  border-radius: 6%;
}

.status h2{
  color: #0F4284;
  position: relative;
}

button{
  color: white;
  background-color: #58bb58;
  right: -65%;
}

.logo{
  position: absolute;
  left: 0;
  top: 0;
}

.text{
  left: 93%;
  top: 95%;
  position: absolute;
  background-color: #EF7225;
  padding: 3px 20px;
  border-radius: 15px;
}


  