<div class="p-grid p-justify-center card">
  <div class="p-col-10 p-sm-6 p-md-4">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12 text-center">
          <img src="../../../assets/icontrans.png" width="300">
          <h2>CADASTRO</h2>
        </div>
        
        <div class="p-col-12">
          <label for="">ID:</label>
          <input id="nome" class="p-col-12" type="text" placeholder="Informe seu ID" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">Nome:</label>
          <input id="nome" class="p-col-12" type="text" placeholder="Informe seu nome" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">CPF:</label>
          <input id="cpf" class="p-col-12" type="text" placeholder="Informe seu CPF" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">Cidade:</label>
          <input id="cidade" class="p-col-12" type="text" placeholder="Informe sua Cidade" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">UF:</label>
          <input id="uf" class="p-col-12" type="text" placeholder="Informe seu UF" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">Telefone:</label>
          <input id="telefone" class="p-col-12" type="text" placeholder="Informe seu telefone" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">E-mail:</label>
          <input id="email" class="p-col-12" type="text" placeholder="Informe seu e-mail" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">Senha:</label>
          <input id="senha" class="p-col-12" type="text" placeholder="Informe sua senha" pInputText />
        </div>

        <div class="p-col-12">
          <label for="">Confirmar senha:</label>
          <input class="p-col-12" type="text" placeholder="Confirme sua senha" pInputText />
        </div>

        <div class="p-col-12">
          <button
            pButton
            type="button"
            label="Cadastrar"
            class="p-col-12"
          >

        </button>

          <p class="text-center p-col-12">

            <br>
            <a routerLink="/login">Faça seu Login</a>

          </p>
        </div>
      </div>
    </p-card>
  </div>
</div>




