.banner{
  background-image:url(../../../../../../assets/pexels-artem-podrez-5025517.jpg);
  width: 1%;
  padding: 24% 18%;
  background-position: center top;
  background-size: cover;
  opacity: 0.95;
}

.banner img{
  position: absolute;
  width: 288px;
  height: 293px;
  left: 5%;
  top: 10%;
  border-radius: 28px;
}

.status{
  left: 58%;
  top: 20%;
  position: absolute;
  text-decoration: none;
  background-color: #D0E1F5;
  padding: 3% 3%;
  border-radius: 6%;
}

.status h2{
  color: #0F4284;
  position: relative;
}

.status h3{
  color: #0F4284;
  position: relative;
}

p{
  font-size: 30px;
}

button{
  color: white;
  background-color: #58bb58;
  right: -65%;
}

.text{
  left: 93%;
  top: 95%;
  position: absolute;
  background-color: #EF7225;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 15px;
}

.text2{
  left: 88%;
  top: 95%;
  position: absolute;
  background-color: #EF7225;
  padding: 3px 20px;
  border-radius: 15px;
}
