<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<app-navbar> </app-navbar>

<div class="banner">
 <img src="../../../../assets/logoseis.png" width="300">
 <div class="status">
   <h2>FORMA DE PAGAMENTO</h2>

    <div class="btn-credito">
      <button
        pButton
        type="button"
        label="Cartão de Crédito"
        class="p-col-12"
      ></button>
  </div>
  <br>

  <div class="btn-debito">
    <button
    pButton type="button"
    label="Cartão de Débito"
    class="p-col-12">
  </button>
</div>
<br>

<div class="btn-pix">
  <button
    pButton
    type="button"
    label="PIX"
    class="p-col-12"
  ></button>
</div>


<div class="text">
  <a routerLink="/cadastro-pedido" class="mb-9">Voltar</a>
</div>
